body {
    background-color: lightcyan;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

strong {
    color: blue;
    font-weight: normal;
}
strong > strong {
    color: red;
}

ul {
   list-style-type: "\1F44D";
}
th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    caption-side: bottom;
}